body 
{   
    background-color: darkgrey;
    color: rgb(92, 54, 92);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;

}

#container
{

    width: 70%;
    padding:  1cm;
    text-align: left;
    border: 1px solid blueviolet;
    margin: 0 auto;
}

#cabecera 
{
    background-color: cyan;
    font-weight: bold;
    font-family: sans-serif;
    font-size: medium;
    color: darkblue;
    font-size: 20px;
    margin: 0;
    padding: 0.7em;
    -webkit-box-shadow: 10px 11px 22px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 11px 22px 2px rgba(0,0,0,0.75);
     box-shadow: 10px 11px 22px 2px rgba(0,0,0,0.75);
}

#cabecera #logo
{
    width: 250px;
    vertical-align: middle;
    float: left ;
}

#cabecera #tagline 
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 1em;
}

#container h1 
{
    font-size:  34px;
}

#post 
{
 background-color: violet;  
 padding: 1em; 
}